* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

div {
  text-align: center;
}

h1 {
  background: #6200ea;
  color: #fff;
  padding: 15px;
}

select {
  margin: 15px;
  padding: 8px;
}

.timezone {
  margin: 15px;
  border-bottom: 1px solid #ccc;
  padding: 12px;
}
